 <form [formGroup]="questionForm" (ngSubmit)="onSubmit(codingQuestion,codingQuestion.id)">
  <div class="form-group">
    <label for="question">Question:</label>
    <textarea class="form-control" id="question" formControlName="question"></textarea>
  </div>
  <div *ngFor="let input of inputs; let i = index">
    <label for="input-{{i}}">Input {{i + 1}}:</label>
    <input type="text" id="input-{{i}}" name="input{{i}}">
    <label for="input-{{i}}">expected output {{i + 1}}:</label>
    <input type="text" id="input-{{i}}" name="input{{i}}">
  </div>
  <button (click)="addInput()">Add Input</button>
  <button (click)="removeInput()">Remove Input</button>
  <button type="submit">Save Question</button>

</form>




