#forgot-password{
  width: 30%;
  margin-left: 30%;
  margin-top: 5%;
}



.mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

span {
  display:inline-block;
  width:100px;
  /* background-color:palevioletred; */

}


