<!-- <p>
  forgot-password works!
</p> -->


<!-- <form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="contact">Phone Number </label>
    <input type="contact" class="form-control" id="contact">
  </div>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="resetpassword(reset)" >Reset Password</button>
</form> -->
<body class="content">
<header>
<app-header></app-header>
</header>
<form id="forgot-password">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>

  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="resetpassword(this.user)">Reset Password</button>
</form>
</body>
