/* #forgot-password{
  width: 30%;
  margin-left: 30%;
  margin-top: 5%;
}

.mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

span {
  display:inline-block;
  width:100px;
} */




.bootstrap-wrapper,.card{
  background-color: rgb(217, 217, 247);
 }

 .container{
  height: 43rem;

 }

 .usericon{
margin-top: 8rem;
margin-bottom: 7rem;
margin-left: 0.5rem;
height: 20rem;
 }

 .cardform{
  padding-left: 2rem;
  margin-top: 3rem;
  margin-left: 0rem;
  width: 40rem;
  padding-right: 2rem;
 }

 body{
  background-color: rgb(217, 217, 247);
}

.reset{
  padding: 0.3rem;
  width: 8rem;
 }

 button:hover{
  border-radius:0.5rem;
  font-size: 1rem;
  opacity: 0.5;
 }

 .hideshow
{
  margin-top: -2.8rem;
  margin-right: 1.5rem;
}




