<!-- <body class="content">
<header>
<app-header></app-header>
</header>
<form id="forgot-password">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>

  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="resetpassword(this.user)">Reset Password</button>
</form>
</body> -->



<body>

  <div class="bootstrap-wrapper">
   <header>
     <app-header></app-header>
   </header>

     <div class="container">
         <div class="row">
         <div class="col-sm-4">
             <div>
               <img src="assets/Password.svg" class="usericon" alt="">

             </div>
         </div>
         <div class="col-sm-4">
           <form [formGroup]="resetForm"  (ngSubmit)="resetpassword(this.userReset)" class="mat-elevation-z8" >
             <mat-card class="cardform">
               <p class="text-center">
                 <span class="right"><h1 style="font-weight: bold; margin-top: 1rem;">Reset Password</h1></span>
             </p>
             <div class="form-group">
               <label for="Email" style="font-weight: bold;">Email address</label>
               <input type="email" class="form-control" id="Email" placeholder="Enter email" [(ngModel)]="userReset.email" name="email" formControlName="remail" [ngClass]="{ 'is-invalid': (submitted && f.remail.errors ) || (f.remail.touched && f.remail.errors) }">
               <div *ngIf="submitted || f.remail.touched && f.remail.errors" class="invalid-feedback">
                 <div *ngIf="f.remail.errors?.required">Email is mandatory</div>
                 <div *ngIf="f.remail.errors?.email">Email must be a valid email address</div>
               </div>
             </div>
             <div class="form-group">
               <label for="Password" style="font-weight: bold;">Reset Password</label>
               <input  matInput [type]="hide ? 'password' : 'text'" type="password" class="form-control" id="Password" placeholder="Password" [(ngModel)]="userReset.password" name="password" formControlName="rpassword" [ngClass]="{ 'is-invalid': (submitted && f.rpassword.errors) || (f.rpassword.touched && f.rpassword.errors)}">
               <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="float-right hideshow">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
               <div *ngIf="submitted || f.rpassword.touched && f.rpassword.errors" class="invalid-feedback">
                 <div *ngIf="f.rpassword.errors?.required">Password is mandatory</div>
                 <div *ngIf="f.rpassword.errors?.minlength">Min 6 letter required</div>
                 <div *ngIf="f.rpassword.errors?.pattern">Please, Remove space's</div>
              </div>
             </div>

             <div class="form-group text-center mt-2">

             <button class="btn btn-success btn-sm" >Reset</button>
             <button type="reset" class="btn btn-primary btn-sm ml-4" >Clear</button>
             </div>
             <br>
             <div class="text-center">
               <p>You have remembered password<a routerLink="/login"> login</a></p>
             </div>
             <div class="text-center">
               <p>Don't have an account register here? <a routerLink="/signup">create new account</a></p>
             </div>
           </mat-card>
           </form>
         </div>
        </div>
     </div>
  </div>
 </body>

