


<div *ngIf="addexam">
  <button class="btn btn-primary" (click)="loadAddExampage(false)">Schedule Exam</button>
  <br>
  <br>

  <table class="table table-striped">

    <thead>
      <!-- [formControl]="subjectControl" -->
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Code</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>PaperId</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams let i=index">
        <td>{{i+1}}</td>
        <td>{{exam.name}}</td>
        <td>{{exam.code}}</td>
        <td>{{exam.startTime}}</td>
        <td>{{exam.endTime}}</td>
        <td>{{exam.createPaper?.id}}</td>
         <td><mat-icon type="button"  class='material-icons-outlined' [ngStyle]="{'color':'red'}"  (click)="deleteexam(exam.id)">delete</mat-icon>
         </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!addexam" >
  <app-add-exam (loadAddExampage)="loadAddExampage(true)"></app-add-exam>
  </div>

