
<div *ngIf="addexam">
  <button class="btn btn-primary" (click)="loadAddExampage(false)">Schedule Exam</button>
  <br>
  <br>

  <mat-table class="table table-striped" [dataSource]="dataSource">
    <ng-container matColumnDef="sNo">
      <mat-header-cell id="head" *matHeaderCellDef>S.No</mat-header-cell>
      <mat-cell *matCellDef="let exam; let i = index">{{i + 1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell id="head" *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
      <mat-header-cell id="head" *matHeaderCellDef>Code</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.code}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell id="head" *matHeaderCellDef>StartTime</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.startTime}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <mat-header-cell id="head" *matHeaderCellDef>EndTime</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.endTime}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="examDuration">
      <mat-header-cell id="head" *matHeaderCellDef>examDuration</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.examDuration}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="paperId">
      <mat-header-cell id="head" *matHeaderCellDef>PaperId</mat-header-cell>
      <mat-cell *matCellDef="let exam">{{exam.createPaper?.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell id="head" *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let exam">
        <button mat-icon-button color="warn" (click)="delete(exam.id)">
          <mat-icon aria-label="Delete" class="material-icons-outlined">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['sNo', 'name', 'code', 'startTime', 'endTime','examDuration', 'paperId', 'delete']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['sNo', 'name', 'code', 'startTime', 'endTime','examDuration', 'paperId', 'delete']"></mat-row>
  </mat-table>
  <mat-paginator class="paginator" #paginator  [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 40]" showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="!addexam" >
  <app-add-exam (loadAddExampage)="loadAddExampage(true)"></app-add-exam>
  </div>

