
/* thead
{

  background-color: rgb(4, 0, 0);
  color: rgba(255, 255, 255, 0.882);
} */

#head {
  background-color: black;
  color: white;
}

mat-table{
  width: 100%;
  margin-bottom: 0;
}

.arrowbutton{
  border: none;
  margin-right: 1rem;
  background-color: rgb(203, 220, 236);
}
