.card {
  width: 25rem;
  height:10rem;
  padding-left:1rem;
  padding-right:1rem;
  border-radius: 1rem;
  background-color: rgb(104, 179, 249);
  text-align:center;
}

.allign{
     display: flex;
}
#add-button:hover{
  background-color: #1f2937;
  color: white;
}
/* mat-card-title{
  width:400px ;

} */

