

 .bootstrap-wrapper,.card{
  background-color: rgb(217, 217, 247);
 }

 .container{
  height: 100%;

 }

 .usericon{
margin-top: 7rem;
margin-bottom: 7rem;
margin-left: 0.5rem;
height: 20rem;
 }

 .cardform{
  padding-left: 2rem;
  margin-top: 6rem;
  margin-left: 0rem;
  width: 40rem;
  padding-right: 2rem;
 }

 body{
  background-color: rgb(217, 217, 247);
}

button{
  padding: 0.3rem;
  width: 5rem;
 }

 button:hover{
  border-radius:0.5rem;
  font-size: 1rem;
  opacity: 0.5;
 }

 .hideshow
{
  margin-top: -2.8rem;
  margin-right: 1.5rem;
}


