<body class="content">
  <header>
    <app-header></app-header>
  </header>



  <form id="loginform" class="mat-elevation-z8" >
    <mat-card class="card">
      <p class="text-center">
        <span class="left"><mat-icon>account_circle</mat-icon></span>&nbsp;&nbsp;&nbsp;
        <span class="right"><h1 style="font-weight: bold;">Login</h1></span>
    </p>
    <div class="form-group">
      <label for="exampleInputEmail1" style="font-weight: bold;">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="userLogin.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bold;">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="userLogin.password" name="password" required>
    </div>

    <div class="form-group text-center">

    <button (click)="login(this.userLogin)" class="btn btn-primary btn-sm" >Login

    </button>
    <button type="reset" class="btn btn-primary btn-sm ml-2" >Clear</button>
    </div>
    <br>
    <div class="text-center">
      <p>Don't have an Account Register here?<a routerLink="/signup"> signup</a></p>
    </div>


  </mat-card>
  </form>

</body>

