
    <mat-card color="primary" class="card mat-elevation-z8" style="height:300px;width:300%;display:flex;justify-content:center;align-items:center;"  >

      <form  [formGroup]="myForm" (ngSubmit)="onSubmit()"  >
      <mat-card-content >
      <h2 style="text-align: center;">Add Subject</h2>
      <div class="form-group">
      <div class="row">
          <div class="col-75 form-group labelname" >
              <label for="subject" style="margin-right: 10px;">Subject Name </label>
          </div>
          <div class="col-75 form-group">
              <input class="form-control" type="text" formControlName="name" placeholder="Enter name" [ngClass]="{ 'is-invalid':(submitted && f.name.errors)|| (f.name.touched && f.name.errors) }" >
              <div *ngIf="(submitted && f.name.errors) || (f.name.touched && f.name.errors)" class="invalid-feedback">
                <div *ngIf="f.name.errors?.required">Subject name required</div>
              </div>
          </div>
    </div>

      <div class="row form-group">
          <div class="col-75 form-group labelname">
              <label for="topic" style="margin-right: 22px;">Topic Name </label>
          </div>
          <div class="col-75 form-group">
            <input class="form-control" type="text" formControlName="description" placeholder="Enter Topic"  [ngClass]="{ 'is-invalid': (submitted && f.description.errors) || (f.description.touched && f.description.errors) }">
            <div *ngIf="(submitted && f.description.errors) ||(f.description.touched && f.description.errors)" class="invalid-feedback">
              <div *ngIf="f.description.errors?.required">Description required</div>
            </div>
          </div>
      </div>
    </div>
      <br>
      <div class="text-center"><input class="btn btn-success btn-sm submit"  type="submit" value="Submit">
        <button class="btn btn-warning btn-sm ml-4" type="reset">Clear</button>
        <button class="btn btn-secondary btn-sm ml-4" (click)="goBack()">Back</button>
      </div>


      </mat-card-content></form>

    </mat-card>


