
    <mat-card color="primary" class="card" style="height:300px;width:300%;display:flex;justify-content:center;align-items:center;"  >

      <form  [formGroup]="myForm" (ngSubmit)="onSubmit()"  >
      <mat-card-content >

      <h2 style="text-align: center;">Add Subject</h2>


      <div class="form">
      <div class="row">
          <div class="col-25" >
              <label for="subject" style="margin-right: 10px;">Subject Name:</label>
          </div>
          <div class="col-75">
              <input type="text" formControlName="name" placeholder="Enter name"  >
              <div *ngIf="myForm.controls['name'].errors?.['required']"style="color: red;">
                <small>Name is required.</small>
              </div>
          </div>
    </div>

      <div class="row">
          <div class="col-25">
              <label for="topic" style="margin-right: 22px;">Topic Name: </label>
          </div>
          <div class="col-75">
            <input type="text" formControlName="description" placeholder="Enter Topic"  >
            <div *ngIf="myForm.controls['description'].errors?.['required']" style="color: red;">
             <small>Description is required.</small>
            </div>
               <!-- <textarea formControlName="description" placeholder="Write something.." style="height:100px" required></textarea> -->
          </div>
      </div>
    </div>
      <br>
      <div class="text-center"><input class="btn btn-success btn-sm float-none "  type="submit" value="Submit">
        <button class="btn btn-dark btn-sm float-right" (click)="goBack()">Back</button>
      </div>


      </mat-card-content></form>

    </mat-card>



  <!-- <form>

    <div class="form-group">

      <label for="formGroupExampleInput">Enter the Subject:</label>

      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the subject"  [(ngModel)]="Subjects.name" name="name" >



  <label for="formGroupExampleInput">Enter the Description:</label>

  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the Description"  [(ngModel)]="Subjects.description" name="description">



  <button (click)="addSubjectInfo(this.Subjects)" class="btn btn-primary btn-sm" >ADD</button>

  </div>
  </form> -->


