
.card{
  max-width: 35rem;
  max-height: 100%;
  margin-left: 15rem;
  margin-top: 5rem;
}

button .submit{
  padding: 0.5rem;
}



.labelname{
  margin-top: 0.6rem;
}

.arrowbutton{
  border: none;
  margin-right: 1rem;
  background-color: rgb(203, 220, 236);
}
