<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <button mat-raised-button class="side-nav-button">
      <mat-icon color="primary">settings</mat-icon>
      Settings
    </button>
    <button mat-raised-button class="side-nav-button"><mat-icon color="primary">folder</mat-icon>Question Bank</button>
    <button mat-raised-button class="side-nav-button"><mat-icon color="primary">assignment</mat-icon>Create paper</button>
    <button mat-raised-button class="side-nav-button"><mat-icon color="primary" size="large">event</mat-icon>
      Schedule Exam</button>
    <button mat-raised-button class="side-nav-button"> <mat-icon color="primary" size="large">poll</mat-icon>
      Exams Result</button>
  </mat-drawer>

</mat-drawer-container>
