<mat-toolbar >
  <img src="assets/writing.png">

  <span>
    Scoresharp</span>
  <span class="example-spacer"></span>
  <button *ngIf="!loginservice.isLoggedIn" mat-button routerLink="/home">Home</button>

  <button *ngIf="!loginservice.isLoggedIn"  routerLink="/login" mat-button>Login</button>
  <!-- <button *ngIf="!loginservice.isLoggedIn"   mat-button routerLink="/signup">Register</button> -->
  <button id="logout-button" *ngIf="loginservice.isLoggedIn"   (click)="logOut()" mat-button>Logout</button>
</mat-toolbar>