.card {
  width: 20rem;
  height:11rem;
  padding:1rem;
  border-radius: 1rem;
  background-color:  rgb(104, 179, 249);;
}

.allign{
     display: flex;
}

#add-button:hover{
  background-color: #1f2937;
  color: white;
}

.button{
  margin-left: 4rem;
}


th{
  color: rgb(243, 248, 248);
  background-color: black;
}
.mat-mdc-header-row{
  background-color: rgb(0, 11, 11);
}
.container {
  display: flex;
  flex-direction: column;

}
.card-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
.table-container {
  width: 100%;
  max-width: 600px;
}
