
<div class="allign mt-3" *ngIf="show">
  <div class="container">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar><img src="assets/topic.svg" alt=""></div>
          <mat-card-title class="text-center">ADD SUBJECT</mat-card-title>
          <mat-card-subtitle class="text-center">adding subjects</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-center">
            Adding the Subject and Topic
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="add-button" class="button" mat-button (click)="loadAddSubjectPage(false)"><mat-icon>add_circle_outline</mat-icon>Add Subject</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S.No.</th>
          <td mat-cell *matCellDef="let i = index" >{{i+1}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Topic</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element"><mat-icon type="button"  class='material-icons-outlined icon' color="primary"  (click)="loadEditSubjectPage(false,element.id)">edit</mat-icon></td>

        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>

            <td mat-cell *matCellDef="let element"><mat-icon type="button"  class='material-icons-outlined icon' [ngStyle]="{'color':'red'}"  (click)="deleteSubjectInfo(element.id)">delete</mat-icon></td>

          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="paginator" #paginator  [pageSize]="25" [pageSizeOptions]="[2, 5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<div class="allign" *ngIf="!show">
  <app-AddSubject [id]="subjectId"
    (loadAddSubjectPage)="loadAddSubjectPage(true)"
  ></app-AddSubject>
</div>

