
.left{
  background-color: aqua;
  height:30rem;
}

.right{
  /* background-color: violet; */
  height:30rem;

}

.righttop{
  padding-top: 1.5rem;
  padding-left: 1rem;
  height: 5rem;
  /* background-color: blue; */
}

.rigthbottom{
  height: 25rem;
  /* background-color: rgb(207, 220, 20); */
}

.lefttop{
  height: 5rem;
  /* background-color: rgb(235, 52, 214); */
}

.leftbottom{
  padding: 1rem;
  height: 25rem;
  /* background-color: rgb(141, 235, 193); */
}

button:hover{
  opacity: 70%;
  transition-duration:1s;
  font-size:1rem;
}


.option{
  margin-left: 1rem;
}

.mat-list-item-content {
  outline:none !important;
  border: none;
  padding: 0 !important;
}


.question-list ul li a {
  display: inline-block;
  width: 25%; /* Set the width of each anchor tag to 25% to display 4 in a row */
  text-align: center; /* Center the text within each anchor tag */
  padding: 10px; /* Add some padding to the anchor tags for better readability */
  box-sizing: border-box; /* Make sure the padding is included in the width */
  border: 1px solid #ccc; /* Add a border to the anchor tags for better visibility */
}
.question-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.question-list__items li {
  display: flex;
  justify-content: center;
  align-items: center;
}


