<div class="container mt-5">
<form >
  <h2 class="text-center">Add Question</h2>
  <button class="btn btn-dark btn-sm float-right" (click)="goBack()">Back</button>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select a subject</mat-label>
    <mat-select [(ngModel)]="selectedsubject" name="selectedSubject" (selectionChange)="onSubjectSelection()">
      <mat-option *ngFor="let subject of uniqueSubjectNames" [value]="subject">{{ subject }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select a topic</mat-label>
    <mat-select [(ngModel)]="subject_id" name="subject_id" [formControl]="subjectControl">
      <mat-option *ngFor="let subject of  filteredTopics" [value]="subject.id">{{ subject.description }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <label for="formGroupExampleInput">Enter the question</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the question"  [(ngModel)]="Questions.content" name="content">
  </div>

  <div class="form-group">

    <th>
    <label for="formGroupExampleInput2">Enter options</label>
  </th>
  <th>
    <label for="formGroupExampleInput2">Select Answer</label>
  </th>
    <tr>
    <td>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter option 1" [(ngModel)]="Questions.optionA" name="option_A">
  </td>
  <td>
    <label>
      <!-- <input type="radio" [(ngModel)]="Questions.answer" name="answer" [value]="Questions.optionA"> -->
      <mat-checkbox (change)="checkboxChanged($event, 'A')" ></mat-checkbox>
      Option A is correct
    </label>
  </td>
  </tr>
  <tr>
    <td>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Enter option 2" [(ngModel)]="Questions.optionB" name="option_B">
  </td>
  <td>
    <label>

      <!-- <input type="radio" [(ngModel)]="Questions.answer" name="answer" [value]="Questions.optionB"> -->
      <mat-checkbox (change)="checkboxChanged($event, 'B')"></mat-checkbox>
      Option B is correct
    </label>
  </td>
  </tr>
  <tr>
    <td>

    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Enter option 3" [(ngModel)]="Questions.optionC" name="option_C">
  </td>
  <td>
    <label>
      <!-- <input type="radio" [(ngModel)]="Questions.answer" name="answer" [value]="Questions.optionC"> -->
      <mat-checkbox (change)="checkboxChanged($event, 'C')"></mat-checkbox>
      Option C is correct
    </label>
  </td>
  </tr>
  <tr>
    <td>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Enter option 4" [(ngModel)]="Questions.optionD" name="option_D">
    </td>
    <td>
    <label>
      <!-- <input type="radio" [(ngModel)]="Questions.answer" name="answer" [value]="Questions.optionD"> -->
      <mat-checkbox (change)="checkboxChanged($event, 'D')"></mat-checkbox>
      Option D is correct
    </label>
    </td>
  </tr>
   </div>

  <mat-form-field appearance="fill">
    <mat-label>Choose an question_type</mat-label>
    <mat-select  [(ngModel)]="Questions.qtype" name="q_type">
      <mat-option value="simple">simple</mat-option>
      <mat-option value="medium" >medium</mat-option>
      <mat-option value="hard">hard</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="addQuestion(this.Questions,subject_id)" class="btn btn-primary btn-sm float-right" >ADD</button>



</form>
</div>

