
<header>
  <app-header></app-header>
</header>

<div class="container" id="resultpdf">




  <div>
    <button class="matbuuton">
      <mat-icon (click)="generatePDF()" class="maticon mt-4">picture_as_pdfdownload</mat-icon>
      <mat-icon (click)="generatePDF()"  class="maticon mt-4">download</mat-icon>
     </button>
    <h1 style="text-align: center;" class="score">Your Score is : {{score}} /{{totalmarks}} </h1></div>
<mat-list *ngFor="let question of questions let i=index">
            <mat-list-item> <h1>{{i+1 }}.{{ question.content }}</h1></mat-list-item>

            <div *ngIf="question.subject?.name != 'Coding'">
              <mat-list-item>
                <div style="white-space:nowrap">
                    <!-- <input class="radiobutton" type="radio" [name]="'answer'+question.id" value="A" /> -->
                    <label class="option">A : {{ question.optionA }}</label>
                </div>
              </mat-list-item>

              <mat-list-item>
                <div style="white-space:nowrap">
                  <!-- <input class="radiobutton" type="radio" [name]="'answer'+question.id" value="B" /> -->
                  <label class="option">B : {{ question.optionB }}</label>
                </div>
              </mat-list-item>

              <mat-list-item>
                <div class="white-space:nowrap">
                  <!-- <input class="radiobutton" type="radio" [name]="'answer'+question.id" value="C" /> -->
                  <label class="option">C : {{ question.optionC }}</label>
                </div>
              </mat-list-item>

              <mat-list-item>
               <div class="white-space:nowrap">
                <!-- <input class="radiobutton" type="" [name]="'answer'+question.id" value="D" /> -->
                  <label class="option">D : {{ question.optionD }}</label>
               </div>
              </mat-list-item>
              <mat-list-item>
                <div class="white-space:nowrap" *ngFor="let answer of userAnswers">
                  <label class="option" style="color: red;font-size: large;" *ngIf="question.id==answer.question?.id && answer.userAnswer!=question.answer">YourAnswer : {{ answer.userAnswer}}</label>
                  <label class="option" style="color:blue;font-size: large;" *ngIf="question.id==answer.question?.id && answer.userAnswer==question.answer ">YourAnswer : {{ answer.userAnswer}}</label>
                </div>
               </mat-list-item>
              <mat-list-item>
                <div class="white-space:nowrap">
                  <label class="option" style="color: rgb(7, 245, 7);font-size: large;">CorrectAnswer : {{ question.answer}}</label>
                </div>
               </mat-list-item>

            </div>
          </mat-list>
</div>
