.maticon
{
  color: blue;
  size: 2rem;
  font-size:2rem;
  width: 2rem;
  height: 2rem;
}
.matbuuton{
  margin-top: 1rem;
  /* height: 3rem; */
  /* width: 5rem; */
  border: none;
  padding: 0rem;
  background-color: white;
}

.matbuuton:hover{
  background-color: white;
  transform: none;
}

.score{
  margin-top: -2.2rem;
}
