<header>
  <app-header></app-header>
</header>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Evaluate Your Talent With Us</h1>
        <h2>We provide different types of quizzes where you can participate and evaluate your knowledge</h2>
        <div class="d-flex">
          <a routerLink="/signup" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/p39fc9ph.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
=======

