<!-- <div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2.5" id="side">
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col md-9" id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->
<div class="bootstrap-wrapper">
  <header>
    <app-header></app-header>

  </header>
  <div class="content-container">
    <nav>

    <app-admin-sidenav></app-admin-sidenav>

</nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
</div>

