.table{
  width: 90%;
  margin-left: 1rem;
  margin-top: 1rem;
}

th{
  color: rgb(243, 248, 248);
  background-color: rgba(0, 0, 0, 0.355);
}

.mat-mdc-header-row{
  background-color: rgba(0, 11, 11, 0.676);
}

.pdfImg{
  height: 3rem;
  width: 3rem;
  display: flex;
  margin-left: 16rem;
  margin-top: -4.5rem;
}

.search{
  margin-top: 1rem;
  margin-right: 45rem;
}
