
<mat-form-field class="ml-2 mt-2">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="nameFilterValue" (keyup)="applyFilter()" #input>
</mat-form-field>

<div >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="my-table">

    <!-- Serial Number Column -->
    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef>Serial No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Student name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name Of Student </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Student Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Student phone number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>phonenumber</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <ng-container matNoDataRow>
      <tr class="mat-row text-center" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching with this search "{{input.value}}"</td>
      </tr>
    </ng-container>
  </table>
</div>
