.card {
  width: 25rem;
  height:10rem;
  padding-right:1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  text-align:center;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

/* .card:hover{
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
} */

.card:hover {
  transform: translateY(-2px) scale(1.005);
}

button:hover{
  background-color: #1f2937;
  color: white;
}

.leftcard{
  /* margin-left: 5rem; */
}

.rightcard{
  margin-left: -7rem;
}

button{
  margin-left: 1rem;
}
