table{
  width: 100%;
  margin-left: 10px;
}

th{
  color: rgb(243, 248, 248);
  background-color: black;
}
.mat-mdc-header-row{
  background-color: rgb(0, 11, 11);
}

.rightcanvas{
  margin-left: 40rem;
  margin-top: -16rem;
  width: 40rem;
}
.leftcanvas{
  margin-top: 2rem;
  margin-left:5rem;
}

.chartspan{
  margin-top: 1rem;;
}

.canvassearch{
  /* background-color: aqua; */
  margin-left: 5rem;
}

.canvasheading{
  display: flex;
  margin-left: 17rem;
  color: rgb(0, 11, 11);


}

