.card {
  width: 25rem;
  height:10rem;
  padding-right:1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  text-align:center;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}



.card:hover {
  transform: translateY(-2px) scale(1.010);
}

button:hover{
  background-color: #1f2937;
  color: white;
}

.leftcard{
  /* margin-left: 5rem; */
}

.rightcard{
  margin-left: -7rem;
}

button{
  margin-left: 1rem;
}

.svg{
  height: 2.5rem;
  width: 2rem;
  margin-left:2.5rem;
  /* background-color: aqua; */
}

.title{
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  /* background-color: blue; */
}

.button3{
  margin-left: 2rem;
}

.button2{
  margin-left: 1rem;
}

.title2{
  margin-top: 0.2rem;
  margin-left: 0.6rem;
}
