.righttop{
  padding-top: 1.5rem;
  padding-left: 1rem;
  height: 5rem;
  /* background-color: blue; */
}

.rigthbottom{
  margin-top: 1rem;
  margin-right: 2rem;
  height: 25rem;
  border: .1rem solid black;
  background-color: rgb(241, 231, 236);
}

.lefttop{
  margin-top:1rem;
  margin-left:10rem;
  height: 5rem;
  /* background-color: rgb(235, 52, 214); */
}

.leftbottom{
  padding: 1rem;
  height: 25rem;
  /* background-color: rgb(141, 235, 193); */
}


.submitbutton:hover{
  opacity: 70%;
  transition-duration:0.2s;
  font-size:1rem;
  /* margin-left: 10rem; */
  background-color:red;
}

.submitbutton{
  /* width:100%; */
  display:flex;
  align-items:center;
  text-align:center;
  /* margin-left: 43rem; */
  /* margin-top: -3rem; */
}


.option{
  margin-left: 1rem;
}



.question-list__items {
  display: flex;
  margin-top: 1rem;
  /* background-color: aqua; */
  height: 90%;
}

.question-list__items li a:hover{
  cursor:  pointer;
}

.question-list__items ul li {
  display: flex;
  float: left;
  width: 25%;
  /* background-color: rgb(23, 229, 37); */
  margin-bottom: 1rem;
}


.question-list ul{
  width: 100%;
  list-style-type: none;
}

radio::after{
  color: aqua;
}

.subject{
  margin-left:10rem;
}

.subject-button{
  opacity:0.5;
}

.subject-button.active{
  opacity: 1;
  background-color:blue;
}

.active{
  background-color: aqua;

}

.subject-button:hover{
  opacity:1;

}

.numberOfQuestion{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.arrow{
  padding: 0;
border: none;
background: none;
color: blue;
}

.radiobutton{
  height:1rem;
  width: 1rem;
  font-size: 1rem;
}

.radiobutton:hover{
  cursor: pointer;
}

.deselect{
   /* margin-top: 5rem; */
  margin-left:1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background: #1f2937;
  color: white;
  /* position: fixed; */
}
img{
  height: 38x;
  width: 38px;
}

#timer{
  margin-top: 10px;
}

.question{
  margin-left: 50px;
  
}