<body>
  <div class="bootstrap-wrapper">
    <div class="container-fulid">
      <mat-list class="matlist">
        <mat-list-item class="matlistitem">
          <button mat-button class="side-nav-button hove" (click)="clickExam('code')">
            <mat-icon class="icon-spacing hove" color="primary">settings</mat-icon>
            <span class="button-text hove">Exam</span>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="matlistitem">
          <button mat-button type="button" class="side-nav-button hove" id="{{userId}}" (click)="clickEvent('profile',$event)">
            <mat-icon class="icon-spacing hove" color="primary">folder</mat-icon>
            <span class="button-text hove">Profile</span>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</body>
