<div *ngIf="viewpaper">
<div *ngIf="addpaper">
<button class="btn btn-primary mb-2" (click)="loadAddPaperpage(false)">Create Paper</button>
<br>
  <br>
<table class="table table-striped">

  <thead>
    <!-- [formControl]="subjectControl" -->
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Total Marks</th>
      <th>Number Of Questions</th>
      <th class="view">View</th>
      <!-- <th>Delete</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paper of papers let i=index">
      <td>{{i+1}}</td>
      <td>{{paper.name}}</td>
      <td>{{paper.totalMarks}}</td>
      <td>{{paper.numberOfQuestions}}</td>
      <td>
       <mat-icon class="viewicon" (click)="viewPaper(false,paper.id)">
        visibility
      </mat-icon>
      <mat-icon class="ml-4 delete" (click)="deletePaper(paper.id)">
        delete
      </mat-icon>
    </td>

    </tr>
    </tbody>
  </table>
</div>
</div>
<div *ngIf="!addpaper" >
<app-addPaper (loadAddPaperpage)="loadAddPaperpage(true)"></app-addPaper>
</div>
<div *ngIf="!viewpaper">
<app-viewPaper [paperid]="paperid" (viewPaper)="viewPaper(true,paperid)"></app-viewPaper>
</div>
