<div *ngIf="viewpaper">
<div *ngIf="addpaper">
<button class="btn btn-primary mb-2" (click)="loadAddPaperpage(false)">Create Paper</button>

<table class="table table-striped">

  <thead>
    <!-- [formControl]="subjectControl" -->
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Marks</th>
      <th>Number Of Questions</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paper of papers let i=index">
      <td>{{paper.id}}</td>
      <td>{{paper.name}}</td>
      <td>{{paper.totalMarks}}</td>
      <td>{{paper.numberOfQuestions}}</td>
      <td><button class="btn btn-info btn-sm " (click)="viewPaper(false,paper.id)"><mat-icon class="material-symbols-outlined">
        visibility
      </mat-icon></button></td>

    </tr>
    </tbody>
  </table>
</div>
</div>
<div *ngIf="!addpaper" >
<app-addPaper (loadAddPaperpage)="loadAddPaperpage(true)"></app-addPaper>
</div>
<div *ngIf="!viewpaper">
<app-viewPaper [paperid]="paperid" (viewPaper)="viewPaper(true,paperid)"></app-viewPaper>
</div>
