th{
  color: rgb(243, 248, 248);
  background-color:#1f2937;
}
thead
{
  background-color: #1f2937;
}
h1{
  text-align: center;

}
.arrow{
  border: none;
  background-color: rgb(203, 220, 236);
}

.arrow:hover{
  transform: scale(1.2);
}
