<div class="form-group">
  <label for="formGroupExampleInput">Enter the exam name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the exam name" [(ngModel)]="scheduleExam.name" name="name">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter Code</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter code" [(ngModel)]="scheduleExam.code" name="code">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter the Start Time</label>
  <input matInput type="datetime-local" id="formGroupExampleInput2" class="form-control" placeholder="Enter the Start Time" [(ngModel)]="scheduleExam.startTime"  name="startTime">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter the End Time</label>
  <input matInput type="datetime-local" class="form-control" id="formGroupExampleInput2" placeholder="Enter the End Time" [(ngModel)]="scheduleExam.endTime"  name="endTime">
</div>

<button class="btn btn-secondary btn-sm float-right" (click)="goBack()">Back</button>
<table class="table table-striped">

  <thead>
    <tr>
      <th class="text-center">id</th>
      <th class="text-center">name</th>
      <th class="text-center">totalMarks</th>
      <th class="text-center">numberOfQuestions</th>
      <th >selectPaper</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paper of papers let i=index">
     <td class="text-center">{{paper.id}}</td>
      <td class="text-center">{{paper.name}}</td>
      <td class="text-center">{{paper.totalMarks}}</td>
      <td class="text-center">{{paper.numberOfQuestions}}</td>

      <td>
        <input class="radio_button text-center ml-4" type="radio" [(ngModel)]="selected" [value]="paper.id" (click)="addpaper(paper.id)">
      </td>
    </tr>
</tbody>
 </table>

<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addexam(this.scheduleExam)" >Schedule Exam</button>
<!-- <button class="btn btn-danger ml-3" type="reset">Clear</button> -->
<button class="btn btn-secondary ml-3" (click)="goBack()">Go Back</button>
