<div class="form-group">
  <label for="formGroupExampleInput">Enter the exam name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the exam name" [(ngModel)]="scheduleExam.name" name="name">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter Code</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter code" [(ngModel)]="scheduleExam.code" name="code">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter the Start Time</label>
  <input matInput type="datetime-local" id="formGroupExampleInput2" class="form-control" placeholder="Enter the Start Time" [(ngModel)]="scheduleExam.startTime"  name="startTime">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter the End Time</label>
  <input matInput type="datetime-local" class="form-control" id="formGroupExampleInput2" placeholder="Enter the End Time" [(ngModel)]="scheduleExam.endTime"  name="endTime">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Enter the exam duration in minutes</label>
  <input  type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter the Exam duration in minutes" [(ngModel)]="scheduleExam.examduration"  name="examduration">
</div>

<button class="btn btn-dark btn-sm float-right" (click)="goBack()">Back</button>
<table class="table table-striped">

  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>totalMarks</th>
      <th>numberOfQuestions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paper of papers let i=index">
     <td>{{paper.id}}</td>
      <td>{{paper.name}}</td>
      <td>{{paper.totalMarks}}</td>
      <td>{{paper.numberOfQuestions}}</td>

      <td>
        <input type="radio" [(ngModel)]="selected" [value]="paper.id" (click)="addpaper(paper.id)">
      </td>
    </tr>
</tbody>
 </table>

<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addexam(this.scheduleExam)" >Add</button>
