/* #signup-form{
  width: 30%;
  margin-left: 30%;
  margin-top: 1%;
}



#card{
  align-items: center;
  margin-left: 100px;
  margin-right:100px;
}


.mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

span {
  display:inline-block;
  width:100px;

} */

/* .left{
  display: block;
  margin-left:25%;
  float:left;
  width: 100px;
  position: absolute;
  left: -32px;

}

.right{
  display: block;
  margin-right: 28%;
  margin-top: -45px;
  float:right;
  width: 100px;
  position: absolute;
    right: 50px;
    top: 82px;
}
body{
  background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_161519.jpg);
} */


.card{
  /* margin-top: 2rem; */
  height: 80%;
  /* background-color: rgb(231, 217, 217); */
 }

 .bootstrap-wrapper{
  height: 120%;
  /* background-color: aqua; */
 }

 .container{
  height: 80%;
  /* background-color: blueviolet; */
 }

 .usericon{

margin-top: 7rem;
margin-bottom: 7rem;
margin-left: 1.05rem;
height: 20rem;
 }

 .cardform{
  margin-top: 2rem;
  padding-left: 2rem;
  width: 40rem;
 }

 .bootstrap-wrapper,.card{
  background-color: rgb(217, 217, 247);
 }
 body{
  background-color: rgb(217, 217, 247);
 }
 button{
  padding: 0.3rem;
  width: 5rem;
 }

 button:hover{
  border-radius:0.5rem;
  font-size: 1rem;
  opacity: 0.5;
 }

 .hideshow
 {
   margin-top: -2.8rem;
   margin-right: 1.5rem;
 }  
