

 .bootstrap-wrapper{
  height:52rem;
  /* background-color: aqua; */
 }

 .container{
  height: 70%;
  /* background-color: blueviolet; */
 }

 .usericon{

margin-top: 9rem;
margin-bottom: 7rem;
margin-left: 1.05rem;
height: 20rem;
 }

 .cardform{
  margin-top: 3rem;
  padding-left: 2rem;
  width: 40rem;
  height: 120%;
  /* background-color: aqua; */
 }

 .bootstrap-wrapper,.card{
  background-color: rgb(217, 217, 247);
 }
 body{
  height: 38rem;
  background-color: rgb(217, 217, 247);
 }
 button{
  padding: 0.3rem;
  width: 5rem;
 }

 button:hover{
  border-radius:0.5rem;
  font-size: 1rem;
  opacity: 0.5;
 }

 .hideshow
 {
   margin-top: -2.8rem;
   margin-right: 1.5rem;
 }

 header{
  height: 3rem;
 }
