<body>
  <div class="bootstrap-wrapper">
    <header><app-header></app-header></header>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div><img src="assets/usericon.png" class="usericon" alt="usericonpic" class="usericon"/></div>
        </div>
        <div class="col-sm-4">
          <form [formGroup]="signUpForm" (ngSubmit)="registerNewUser(this.userLogin)" class="mat-elevation-z8">
            <mat-card color="primary" id="form-card" class="cardform">
              <mat-card-content>
                <div class="form-group">
                  <p class="text-center"><span class="right"><h1 style="font-weight: bold; margin-top: 1rem">Register</h1></span></p>
                </div>
                <div class="form-group">
                  <label for="Name" style="font-weight: bold">Name</label>
                  <input type="text" id="Name" class="form-control" placeholder="Full Name" name="name" [(ngModel)]="userLogin.name" formControlName="sname" [ngClass]="{'is-invalid': (submitted && f.sname.errors) || (f.sname.touched && f.sname.errors) }" />
                 <div *ngIf="submitted ||f.sname.touched && f.sname.errors" class="invalid-feedback">
                    <div *ngIf="f.sname.errors?.required">Name is required</div>
                     <div *ngIf="f.sname.errors?.pattern">Only alphabets allowed</div>
                     <div *ngIf="f.sname.errors?.maxLength">Maximum 30 letters allowed</div>
                     <div *ngIf="f.sname.errors?.minlength">Minimum 3 letters required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Email" style="font-weight: bold">Email address</label>
                  <input type="email" class="form-control" id="Email" placeholder="Enter email" name="email" [(ngModel)]="userLogin.email" formControlName="semail" [ngClass]="{ 'is-invalid':(submitted && f.semail.errors)|| (f.semail.touched && f.semail.errors) }"/>
                  <div *ngIf="submitted || f.semail.touched && f.semail.errors" class="invalid-feedback">
                    <div *ngIf="f.semail.errors?.required">Email is required</div>
                    <div *ngIf="f.semail.errors?.email">enter valid email</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="Password" style="font-weight: bold">Password</label>
                  <input type="password" id="Password" class="form-control" placeholder="Password" name="password" [(ngModel)]="userLogin.password" formControlName="spassword"  [ngClass]="{ 'is-invalid': (submitted &&  f.spassword.errors) || (f.spassword.touched && f.spassword.errors) }"/>
                  <div *ngIf="submitted || f.spassword.touched && f.spassword.errors" class="invalid-feedback">
                    <div *ngIf="f.spassword.errors?.required">Password is required</div>
                    <div *ngIf="f.spassword.errors?.minlength">Minimum length must be 6 letters</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="PhoneNumber" style="font-weight: bold">Phone number</label>
                  <input class="form-control" id="PhoneNumber" placeholder="Phone number" name="phoneNumber" [(ngModel)]="userLogin.phoneNumber" formControlName="sphoneNumber" type="text" [ngClass]="{'is-invalid': (submitted && f.sphoneNumber.errors)|| (f.sphoneNumber.touched && f.sphoneNumber.errors)}"/>
                  <div *ngIf="submitted || f.sphoneNumber.touched && f.sphoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.sphoneNumber.errors?.required">Phone number is required</div>
                    <div *ngIf="f.sphoneNumber.errors?.pattern">Please, Enter 10 digit Mobile Number</div>
                    <!-- <div *ngIf="f.sphoneNumber.errors?.minlength">Minimum length must be 10</div> -->
                    <!-- <div *ngif="f.sphoneNumber.errors?.maxlength">Length must be 10</div> -->
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-success btn-sm" >Register</button>
                  <button type="reset" class="btn btn-primary btn-sm ml-3">Clear</button>
                </div>
                <br />
                <div class="text-center">
                  <p>Already have an Account?<a routerLink="/login"> login</a></p>
                </div>
              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
