/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; }
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/paraiso-light';
@import '~codemirror/theme/material';

